build: [
  ["dune" "subst"] {pinned}
  [
    "dune"
    "build"
    "-p"
    name
    "-j"
    jobs
    "@install"
    "@test/runtest" {with-test}
    "@test_bin/runtest" {with-test}
    "@doc" {with-doc}
  ]
]
