<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="{{ project_description }}" />
  <!--
    manifest.json provides metadata used when your web app is installed on a
    user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
  -->
  <link rel="manifest" href="manifest.json" />

  <!-- Inter font -->
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <style>
    html {
      font-family: 'Inter', sans-serif;
    }

    @supports (font-variation-settings: normal) {
      html {
        font-family: 'Inter var', sans-serif;
      }
    }
  </style>

  <link rel="stylesheet" href="main.css">

  <title>{{ project_name }}</title>
</head>

<body class="antialiased">
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div id="root"></div>
  <script type='text/javascript' src='main.js'></script>
</body>

</html>