name: Release

on: 
  release:
    types: published

jobs:
  build:
    name: Build and test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        ocaml-version: ['4.10.0']

    steps:
      - uses: avsm/setup-ocaml@master
        with:
          ocaml-version: ${{ matrix.ocaml-version }}

      - uses: actions/checkout@v2

      - name: Fetch git tags
        run: git fetch --tags --force

      - name: Pin package
        run: opam pin add spin.dev -n .

      - name: Query and install external dependencies
        run: opam depext -yt spin

      - name: Install dependencies
        run: make dev
          
      - name: Substitute watermarks
        run: opam exec -- dune subst

      - name: Build
        run: opam exec -- dune build --release

      - name: Get binary path
        id: binary_path
        shell: bash
        run: |
          BINARY_PATH=${opam exec -- dune exec which spin}
          echo "BINARY_PATH: $BINARY_PATH"
          echo "##[set-output name=path;]$BINARY_PATH"

      - name: Upload script/release-make-skeleton.js
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: actions/upload-artifact@master
        with:
          name: release-make-skeleton
          path: script/release-make-skeleton.js

      - name: Upload artifacts for ${{ matrix.os }}
        uses: actions/upload-artifact@master
        with:
          name: ${{ matrix.os }}
          path: ${{ steps.binary_path.outputs.path }}

  publish:
    needs: build
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Download scripts/release-make-skeleton.js
        uses: actions/download-artifact@master
        with:
          name: release-make-skeleton
          path: scripts/release-make-skeleton.js

      - name: Make NPM release skeleton
        run: node scripts/release-make-skeleton.js

      - name: Download linux artifacts
        uses: actions/download-artifact@master
        with:
          name: ubuntu-latest
          path: _release/platform-linux-x64

      - name: Download macOS artifacts
        uses: actions/download-artifact@master
        with:
          name: macos-latest
          path: _release/platform-darwin-x64

      - name: Create archives for Github release
        run: |
          cd _release/platform-darwin-x64
          zip -r ../../spin-darwin-x64.zip .
          cd ../..

          cd _release/platform-linux-x64
          zip -r ../../spin-linux-x64.zip .
          cd ../..

      - name: Upload spin-darwin-x64.zip to Github release 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: spin-darwin-x64.zip
          asset_name: spin-darwin-x64.zip
          asset_content_type: application/gzip

      - name: Upload spin-linux-x64.zip to Github release 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: spin-linux-x64.zip
          asset_name: spin-linux-x64.zip
          asset_content_type: application/gzip

      - name: Publish NPM package
        run: |
          npm config set //registry.npmjs.org/:_authToken=$NODE_AUTH_TOKEN
          npm config set scope "@tmattio"
          npm config list
          npm publish --access public
        working-directory: ./_release
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
